obj/Debug/net7.0/refint/AlgoDSPlay.dll
obj/Debug/net7.0/refint/AlgoDSPlay.dll
obj/Debug/net7.0/refint/AlgoDSPlay.dll
obj/Debug/net7.0/ref/AlgoDSPlay.dll
obj/Debug/net7.0/refint/AlgoDSPlay.dll
obj/Debug/net7.0/refint/AlgoDSPlay.dll
obj/Debug/net7.0/AlgoDSPlay.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/AlgoDSPlay.dll
obj/Debug/net7.0/AlgoDSPlay.pdb
obj/Debug/net7.0/AlgoDSPlay.dll
obj/project.nuget.cache
